---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joan Palau - Full Stack Developer">
  <main>
    <h3>Hello! My name is</h3>
    <h1>Joan Palau</h1>
    <p>I am still working on the website, come back very soon!</p>
  </main>
</Layout>
