---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Wip from "../components/Wip.astro";
---

<Layout title="Joan Palau - Full Stack Developer">
  <main>
    <Hero />
    <Wip />
  </main>
</Layout>
